*{
    margin: 0;
    padding: 0;
}
body{
background-color: cornsilk;
}

.footer{
    position: relative;
   
    display: flex;
    flex-wrap: wrap;
}
.division{
    position: absolute;
    top:200px;
    display: flex;
    flex-wrap: wrap;
   
    background-color: darkslategrey;
    color:bisque;
    text-align: left;
}
.division a{
    text-decoration: none;
    color:beige;
    display: flex;
    flex-wrap: wrap;
  
}
img{
    max-width:100px;
    max-height:50px;
    padding-right: 20px;
    
}
.first{
padding: 20px;

}
.second{
    padding: 20px;
}
.third{
    padding: 20px;
}
.fourth{
    padding: 20px;
}
.fourth table{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.fifth{
    padding: 20px;

    
}
.fifth a{
    color: black;
    padding: 20px;
}
.fifth a:hover{
    color: rgb(255, 255, 255);
}
.fifth-inside{
display: flex;
margin-top: 20px;

}

.cards{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.col-1,.col-2,.col-3{
display: flex;
flex-direction: row;
padding: 20px;
}

@media only screen and (max-width:600px){
    body{
              background-color: #000;
              display: flex;
              flex-wrap: wrap;
    }
   .footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    font-size: x-small;
   
   }
   .cards{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.col-1, .col-2, .col-3{
display: flex;
flex-direction: row;
padding: 20px;
}

.cards img{
    width:50px;
    height: 25px;
}
}